@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 169, 20, 255;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-hsl: 278°, 100%, 45%;
    --background-end-rgb: 0, 0, 0;
  }
}
/*mobile device styling*/
@media (max-width: 600px) {
  .NavigationList{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  body{
    width: 70vh;
  }
  .NavItem{
    padding-left: 4%;
    flex-direction: row;
  }
  .Top p{
    padding-left: 15%;
  }
}

/*changes nav items depending on screen size*/
@media (min-width: 601px) {
  /*Nav styling*/
.Navigation{
  display: flex;
  justify-content: right;
  padding-top: 2%;
  padding-right: 2%;
}
.NavigationList{
  display: flex;
}
.NavItem{
  flex-direction: row;
  padding-left: 5%;
}
.NavItem a{
  font-weight: 200;
}
}

/*header styling*/
.Header{
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: 150;
  
}

.Top p{
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 150;
}

/*main body styling*/
body {
  width: 95%;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.Top{
  height: 100%;
}