@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: local('Montserrat'), url(../../public/Montserrat-Italic-VariableFont_wght.ttf) format('opentype');
}

:root{
    background-color: whitesmoke;
    font-family: Montserrat, Arial, serif;
}

body{
    width: 95vw;
}


@media (prefers-color-scheme: dark) {
 :root{
    background-color: darkslategray;
 }   
}